:root {
  --sidebar-bg-color-active: #ccc;
  --sidebar-fg-color-active: #000;
  --sidebar-bg-color: #999;
  --sidebar-fg-color: #fff;
  --border-color: #000;
  --button-w: 50px;
  --button-h: 50px;
}

#sidebar-buttons {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-fg-color);
}

#sidebar-buttons .spacer {
  flex-grow: 1;
}

body {
  overflow: hidden;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: clip;
}

#graph {
  flex: 1 1 auto;
  overflow: clip;
}

#vis {
  flex: 0 0 200px;
  display: block;
  overflow-y: scroll;
  border-top: 1px solid var(--border-color);
}


#sidebar-buttons > label {
  height: var(--button-h);
  width: var(--button-w);
  border: 1px outset var(--sidebar-bg-color);
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

#sidebar-buttons > label#tab-close-btn {
  border: none;
}

.sidebar-tab {
  padding: 5px;
  width: 230px;
  height: 100vh;
  background-color: var(--sidebar-bg-color-active);
  color: var(--sidebar-fg-color-active);
  overflow: scroll;
  display: none;
  border-right: 1px solid var(--border-color);
}

.tab-selector {
  display: none;
}

#tab-close-cb:checked #tab-panes {
  display: none;
}

#tab-about-cb:checked ~ #sidebar-buttons #tab-about-btn,
#tab-info-cb:checked ~ #sidebar-buttons #tab-info-btn,
#tab-filters-cb:checked ~ #sidebar-buttons #tab-filters-btn,
#tab-export-cb:checked ~ #sidebar-buttons #tab-export-btn {
  background-color: var(--sidebar-bg-color-active);
  color: var(--sidebar-fg-color-active);
  border-right: none;
}

#tab-about-cb:checked ~ #tab-panes #tab-about-pane,
#tab-info-cb:checked ~ #tab-panes #tab-info-pane,
#tab-filters-cb:checked ~ #tab-panes #tab-filters-pane,
#tab-export-cb:checked ~ #tab-panes #tab-export-pane {
  display: block;
}


#tab-filters-pane fieldset label {
  display: block;
}


html h1 {
  font-size: 24px;
  line-height: calc(var(--button-h) - 5px);
}

html h2 {
  font-size: 20px;
}

.sidebar-fieldset {
  width: 100%;
}
.sidebar-wrapper fieldset label {
  display: block;
}

.link, a.link:link, a.link:active, a.link:hover, a.link:visited {
  color: blue;
  cursor: pointer;
  text-decoration: none;
}

.float-right {
  float: right;
}

.link-icon {
  font-size: 1em;
  vertical-align: bottom;
}
