{% extends "base.html" %}

{% block title %}{{ app_name }}{% endblock %}

{% block styles %}
  {{ super() }}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="{{ url_for(app_name + ".static", filename="graph.css") }}"/>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <!-- <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script> -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/d3@7"></script>
  <script type="text/javascript">
    const graphData = `{{ graph_data }}`;
  </script>
  <script type="text/javascript" src="{{ url_for(app_name + ".static", filename="disease_network_script.js") }}"></script>
{%- endblock %}

{% block content %}
  {{ super() }}
  <div class="sidebar-wrapper">
    <div class="sidebar-buttons">
      <label>
        <input type="radio" name="tab-selector" class="tab-selector" checked>
        <nav class="material-symbols-outlined">
          coronavirus
        </nav>
        <section class="sidebar-tab">
          <h1>
            Disease Network
          </h1>
          <p>
            &copy; AIST 2022
          </p>
        </section>
      </label>
      
      <label>
        <input id="tab-info" type="radio" name="tab-selector" class="tab-selector">
        <nav class="material-symbols-outlined">
          info
        </nav>
        <section class="sidebar-tab">
          <h2 id="info-header">
          </h2>
          <div id="info">
          </div>
        </section>
      </label><!-- tab-info -->
      
      <label>
        <input id="tab-filters" type="radio" name="tab-selector" class="tab-selector">
        <nav class="material-symbols-outlined">
          tune
        </nav>
        <section class="sidebar-tab">
          <h2>
            Filters
          </h2>

          <fieldset id="relation-filters">
            <legend>Relation types</legend>
            <!--
            <label>
              <input type="checkbox" checked> Gene expression
            </label>
            -->
          </fieldset>

          <fieldset id="regulation-filters">
            <legend>Regulation types</legend>
          </fieldset>
        </section>
      </label><!-- tab-filters -->

      <label id="tab-close-button">
        <input id="tab-close" type="radio" name="tab-selector" class="tab-selector">
        <nav class="material-symbols-outlined">
          close
        </nav>
      </label><!-- tab-close -->
    </div><!-- .sidebar-buttons -->
  </div><!-- .sidebar-wrapper -->
{%- endblock %}
